div{
     border: solid 1px; 
}

#containerPartita{
    display: none;
}

#errorePuntata{
    color: red;
}

#containerAssicurazione{
    display: none;
}

#rigioca{
    display: none;
}

#rigioca{
    display: none;
}